<a href="https://colab.research.google.com/github/minchang12/colab/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 0
j = 0

for i in range(2,10) :
  for j in range(1,10) :
    print(i,"x", j, "=", i * j)
  print("")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
hap = 0
num1, num2 = 0,0

while True :
  num1=int(input("숫자1==>"))
  num1=int(input("숫자2==>"))

  hap = num1 + num2
  print(num1, "+", num2, "=", hap)

숫자1==>3
숫자2==>5
5 + 0 = 5
숫자1==>1
숫자2==>2
2 + 0 = 2
숫자1==>5
숫자2==>9
9 + 0 = 9
숫자1==>0
숫자2==>0
0 + 0 = 0

In [ ]:
while Ture:
  num1= input("숫자1 입력=>")
  if num1 == "0" : break
  num2= input("숫자2 입력 =>")
  result = float(num1)+float(num2)
  print(num1, "+", num2, "=", result)

In [ ]:
import random
count=0
while Ture :
  r1, r2= random.randint(1,6), random.randint(1,6)
  r3=random.randint(1,6)
  count = count + 1
  if r1==r2==r3 : break
print("3개의 주사위는 모두", r1, "나왔다.")
print("같은 숫자가 나오기까지", count, "번 던졌습니다.")

In [ ]:
import random